spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:postgresql://localhost:5555/spring_treatment_ehr_tests
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.datasource.username=test
spring.datasource.password=test
server.error.include-message=always
